<nav>
    <div class="site-title">
        <a href="/"><h1>Simple Notes</h1></a>
        <p>Writes your imagine</p>
    </div>
    <ul>
        <li><a href="/">Notes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Notes</a></li>
    </ul>
</nav>